@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Roboto:wght@700&display=swap');
p,a,h1{
    font-family: 'Josefin Sans', sans-serif;
}


body{

    overflow-x: hidden;
    max-width: 100%;
    background-color: rgba(253, 255, 238, 1);
    display: flex;
    flex-direction: column;
  
}

/* Стили меню навигации */

#logs{
    height: 5%; 
    width: 16%; 
    margin-left: 2% ; 
    margin-top: 0.05%;
    
    }

#menuxa{
    background-color: rgba(203, 232, 192, 1);
    height: 10%;
    width: 100%;
  border-bottom: 1.7px solid rgb(140, 162, 132);
  position: fixed;
  top: 0;
  left: 0;
}
.slide-down {
  top: 100%;
}

#men-main{

 display: flex;
 flex-direction: row;
 

}
#ico{
    margin-left: 13% ;
}
ul{
margin-left: -3%;
font-size: 1.1em;

}

li{
    list-style-type: none;
    padding: 1%;
    margin-left: 16%;
    border-color: solid white;
 
    
}

ul{
    display: flex;
    flex-direction: row;

}

a{
    color: black;
    text-decoration: none;
}


#contex{
    font-size: 1.2em;
    transition: color 0.3s ease;
   color: rgba(40, 74, 13, 1)
}


#contex:hover{

    color: rgb(31, 131, 88);
}

#mob{
    color: rgba(40, 74, 13, 1);
    transition: color 0.3s ease;
}
#mob:hover{
    color: rgb(31, 131, 88);
}



 

    /* О доставке */

    #vv{
        font-size: 1.1em;
        margin-left: 1.2%;
    }

  #special{

    font-weight: bold;
  }

  #num{
    background-color: rgb(123, 200, 132);
    color: white;
    font-size: 1.13em;
  }

  #dot{

    color: rgb(80, 138, 87);
    font-size: 1.7em;
  }


    /* Подвал сайта */


    #podval{


        background-color: rgba(72, 85, 68, 1);
    }

    #credits{
        display: flex;
        flex-direction: row;
        margin-left: 5%;
        margin-top: 3%;
        font-size: 1.2em;
    }


#menushik{
    display: flex;
    flex-direction: column;
    color: white;
    margin-left: 1%;


}

#menushik2{

 color: white;
 transition: color 0.3s ease;

}

#tekst{

    margin-left: 20%;
    color: white;
    font-size: 1.2em;
    transition: color 0.3s ease;
}
#well{
    font-size: 1.2em;
    color: white;
}

#menushik2:hover{

    color: rgb(28, 120, 89);
}

#tekst:hover{

    color: rgb(28, 120, 89);
}
#naviga{
    display: none;
}


#product{

    color: rgba(40, 74, 13, 1);
    font-size: 2.6em;
    margin-left: 30%;
    margin-top: 2%;
}




/* АДАПТИВА */




@media (max-width: 899.999px){


    #pics3{

        margin-top: 4% ;
        width: 26%;
        height: 26%;
    
        }
     #product{

        color: rgba(40, 74, 13, 1);
        font-size: 3.2em;
        margin-left: 13%;
    }


ul{
    margin-left: 9%;
    font-size: 0.92em;
    
    }
    
    li{
        list-style-type: none;
        padding: 1%;
        margin-left: 11%;
        border-color: solid white;
     
        
    }
    
    ul{
        display: flex;
        flex-direction: row;
    
    }
    #credits{
        display: flex;
        flex-direction: row;
        margin-left: 2%;
        margin-top: 3%;
        font-size: 0.95em;
    }
    #ico{
        margin-left: -7% ;
    }

      #logs{

    
        height: 60px; width: 180px; margin-left: 2% ;
        }
}



    

@media(min-width: 900px) and (max-width: 1180px){

    #product{

        color: rgba(40, 74, 13, 1);
        font-size: 3.2em;
        margin-left: 13%;
    }
    

     ul{
        margin-left: 35%;
    font-size: 0.92em;
        
        }
        
        li{
            list-style-type: none;
            padding: 1%;
            margin-left: 11%;
            border-color: solid white;
         
            
        }
        
        ul{
            display: flex;
            flex-direction: row;
        
        }

        #credits{
            display: flex;
            flex-direction: row;
            margin-left: 2%;
            margin-top: 3%;
            font-size: 1em;
        }

        #ico{
            margin-left: 0% ;
        }

        
        #logs{

    
            height: 60px; width: 180px; margin-left: 2% ;
            }
    

}



@media(min-width: 300px) and (max-width: 600px){

    #product{

        color: rgba(40, 74, 13, 1);
        font-size: 2.3em;
        margin-left: 15%;
    }
    

    #logs{

        height: 60px; 
        width: 170px;
         margin-left: 3% ;
         margin-top: 0.22%;

    }
    #ico{
        display: none;
    }
    .hidden {
        display: none;
    }
    
    .show{
        
        display: flex;
        flex-direction: column;
        border: 1.7px solid rgb(140, 162, 132);
        background-color: rgba(203, 232, 192, 1) ;
        font-size: 2.8em;
    }
    
    #naviga{
        display: flex;
        flex-direction: column ;
    }
    
    #myObject{
    
       display: show;
       margin-top: 3%;
       margin-left: 30%;
       background-color: rgba(0, 0, 128, 0);
       border: 0.3px solid rgba(0, 0, 128, 0);
       font-size: 4.2em;
    }
    
    

    #credits{
        display: flex;
        flex-direction: column;
        margin-left: 2%;
        margin-top: 6%;
        font-size: 1em;
    }

    #menushik2{
        font-size: 1.5em;
    }
    #tekst{

        margin-left: 2%;
        margin-top: 8%;
        color: white;
        font-size: 1.5em;
        transition: color 0.3s ease;
    }
    

    

}

@media (min-width: 100px) and (max-width: 399.999px){



     #product{

        color: rgba(40, 74, 13, 1);
        font-size: 2.2em;
        margin-left: 14%;
    }
    #logs{

        height: 60px; 
        width: 170px;
         margin-left: 40% ;
         margin-top: 2%;
         position: absolute;

    }
#ico{
    display: none;
}


        #credits{
            display: flex;
            flex-direction: column;
            margin-left: 2%;
            margin-top: 6%;
            font-size: 1em;
        }

        

        .hidden {
            display: none;
        }
        
        .show{
            
            display: flex;
            flex-direction: column;
            border: 1.7px solid rgb(140, 162, 132);
            background-color: rgba(203, 232, 192, 1) ;
            font-size: 2.8em;
        }
        
        #naviga{
            display: flex;
            flex-direction: column;
        }
        
        #myObject{
        
            display: show;
            margin-top: 3%;
            margin-left: 0%;
            background-color: rgba(0, 0, 128, 0);
            border: 0.3px solid rgba(0, 0, 128, 0);
            font-size: 3.7em;
        }

        #credits{
            display: flex;
            flex-direction: column;
            margin-left: 2%;
            margin-top: 6%;
            font-size: 1em;
        }
    
        #menushik2{
            font-size: 1.5em;
        }
        #tekst{
    
            margin-left: 2%;
            margin-top: 8%;
            color: white;
            font-size: 1.5em;
            transition: color 0.3s ease;
        }
        
        
        
    
}

@media (min-width: 600px) and (max-width: 799.999px){

#logs{

    height: 60px; 
    width: 170px;
     margin-left: 3% ;
     margin-top: 0.22%;

}
    #ico{
        display: none;
    }
    .hidden {
        display: none;
    }
    
    .show{
        
        display: flex;
        flex-direction: column;
        border: 1.7px solid rgb(140, 162, 132);
        background-color: rgba(203, 232, 192, 1) ;
        font-size: 2.8em;
    }
    
    #naviga{
        display: flex;
        flex-direction: column ;
    }
    
    #myObject{
    
       display: show;
       margin-top: 3%;
       margin-left: 30%;
       background-color: rgba(0, 0, 128, 0);
       border: 0.3px solid rgba(0, 0, 128, 0);
       font-size: 4.2em;
    }
    
    
    #credits{
        display: flex;
        flex-direction: column;
        margin-left: 2%;
        margin-top: 6%;
        font-size: 1em;
    }

    #menushik2{
        font-size: 1.5em;
    }
    #tekst{

        margin-left: 2%;
        margin-top: 8%;
        color: white;
        font-size: 1.5em;
        transition: color 0.3s ease;
    }
    

}







